.modal {
    height: 70vh;
    overflow-y: auto;
    padding-right: 0.5rem;
    scroll-behavior: smooth;
    border-radius: 1.25rem;
    border: 3px solid gray;
    width: 40vw;
    margin: auto;
    background-color: #fff;
}

.award {
    height: 55vh;
    overflow-y: auto;
    padding-right: 0.5rem;
    scroll-behavior: smooth;
    border-radius: 1.25rem;
    border: 3px solid gray;
    width: 25vw;
    margin: auto;
    background-color: #fff;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000
}